name: Build Snake Game Project

on:
  push:
    branches:
    - main
    - build

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Pull project
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Build project
        run: |
          sudo apt-get install gcc-arm-none-eabi
          cd Release/
          make all
          cd ../Debug/
          make all

      - name: Download Release firmware
        uses: actions/upload-artifact@v4
        with:
          name: SnakeRelease
          path: Release/Snake.*
          
      - name: Download Debug firmware
        uses: actions/upload-artifact@v4
        with:
          name: SnakeDebug
          path: Debug/Snake.*
